
<h1>Configuration of Attributes</h1>

<div class="acidjs-css3-treeview">
  <ul>
    <% i=0 %>
    <li><input type="checkbox" id="node-<%= i %>" /><label><input type="checkbox" unchecked disabled=true/><span></span></label><label for="node-<%= i %>"><%= link_to "NEW DB", new_configdb_path %></label>
    <% i+=1 %>
    <% @configdbs.each do |configdb| %>
      <li><input type="checkbox" id="node-<%= i %>" /><label><input type="checkbox" <%= (configdb.monitor=="Y")  ? "checked" : "unchecked" %> /><span></span></label><label for="node-<%= i %>"><%= link_to configdb.location.upcase, edit_configdb_path(:id => configdb.id) %></label>
        <ul>
          <% j=0 %>
          <li><input type="checkbox" id="node-<%= i %>-<%= j %>" /><label><input type="checkbox" unchecked disabled style="display:none;"/><span></span></label><label for="node-<%= i %>-<%= j %>"><%= link_to "NEW ATTRIBUTE", new_configattrib_path(:id => configdb.id) %></label></li>
          <% j+=1 %>
          <% Configattrib.where("configdb_id=?",configdb.id).each do |configattrib| %>
            <li><input type="checkbox" id="node-<%= i %>-<%= j %>" /><label><input type="checkbox" <%= (configattrib.monitor=="Y")  ? "checked" : "unchecked" %> /><span></span></label><label for="node-<%= i %>-<%= j %>"><%= link_to configattrib.attribute_name, edit_configattrib_path(:id => configattrib.id) %></label>
              <ul>
                <% k=0 %>
                <!-- Line removed and backup in file folder fixdb/backups -->
                <li><input type="checkbox" id="node-<%= i %>-<%= j %>-<%= k %>" /><label><input type="checkbox" unchecked disabled style="display:none;"/><span></span></label><label for="node-<%= i %>-<%= j %>-<%= k %>"><strike><%= link_to "NEW ATTRIBUTE DETAILS", new_configattribdetail_path(:id => configattrib.id) %></strike></label></li>
                <% k+=1 %>
                <% Configattribdetail.where("configattrib_id=?",configattrib.id).each do |configattribdetail| %>
                <% id=Configattribincl.where("configattrib_id=?",configattrib.id).pluck(:id)[0] %>
                <% tcount=Configattribincl.where("configattrib_id=? and param1=?",configattrib.id,configattribdetail.param1).count %>
                <% if tcount==0 %>
                  <li><label><input type="checkbox" <%= (true)  ? "checked" : "unchecked" %> /><span></span></label><label for="node-<%= i %>-<%= j %>-<%= k %>"><%= link_to configattribdetail.param1, new_configattribincl_path(:configattrib_id => configattribdetail.configattrib_id, :param1 => configattribdetail.param1) %> | <strike>TH</strike>
                <% else %>
                  <li><label><input type="checkbox" <%= (true)  ? "checked" : "unchecked" %> /><span></span></label><label for="node-<%= i %>-<%= j %>-<%= k %>"><%= link_to configattribdetail.param1, edit_configattribincl_path(:id => id, :configattrib_id => configattribdetail.configattrib_id, :param1 => configattribdetail.param1) %> | TH
                <% end %>
                <% k+=1 %>
                <% end %>
              </ul>
              <% j+=1 %>
            </li>
          <% end %>
        </ul>
        <% i+=1 %>
      </li>
    <% end %>
  </ul>
</div>
