<%= form_for(@configattribincl) do |f| %>
  <% session[:configattrib_id]=params[:configattrib_id] %>
  <% session[:param1]=params[:param1] %>
  <table>
    <tr><td><% f.label :configattrib_id %></td><td><% params[:configattrib_id] %></td></tr>
    <tr><td><%= f.label :param1 %></td><td><%= params[:param1] %></td></tr>
    <tr><td><%= f.label :th_warning %></td><td><%= f.text_field :th_warning %></td></tr>
    <tr><td><%= f.label :th_critical %></td><td><%= f.text_field :th_critical %></td></tr>
    <tr><td><%= f.submit %></td></tr>
  </table>
<% end %>
