<p id="notice"><%= notice %></p>

<p>
  <strong>Configattribdetail:</strong>
  <%= @configattribexcl.configattribdetail %>
</p>

<p>
  <strong>Excludemonitor:</strong>
  <%= @configattribexcl.excludemonitor %>
</p>

<%= link_to 'Edit', edit_configattribexcl_path(@configattribexcl) %> |
<%= link_to 'Back', configattribexcls_path %>
